.stApp {
    background-image: url("https://static.vecteezy.com/system/resources/previews/016/660/357/non_2x/cyberpunk-circuit-board-background-design-template-abstract-cyber-technology-illustration-with-reptile-skin-texture-sci-fi-pcb-trace-data-transfer-design-concept-dark-blue-gradient-vector.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
